body {
  margin: 0;
  line-height: 1.5em;
}

a {
  text-decoration: none;
  color: #3985d5;
}

.projects {
  overflow: hidden;
  padding: 1em;
}

.top-header {
  overflow: hidden;
  padding-top: 2em;
  padding-bottom: 2em;

  max-width: 75%;
  margin: auto;
}

.biography {
  background-color:#eeeeee;
  padding-top: 2em;
  padding-bottom: 2em;
}

.main-body {
  max-width: 75%;
  margin: auto;
  margin-top: 3em;
}

.main-block {
  background-color: lightblue;
  overflow: hidden;
}

/* buttons */
ul {
  margin: 0px;
}
.list-inline {
  padding-left: 0;
  margin-left: -5px;
  list-style: none;
}
.btn {
  float: left;
  background-color: white;
  text-align: center;
  border: 2px solid #3985d5;
  border-radius: 20px;
  transition: all 0.5s;
  padding: 0em 1em;
  margin-right: 1em;
  margin-bottom: 5px;
  white-space: nowrap;
}
.btn:hover {
  background-color: #3985d5;
  color: #fff;
}

/* code */
pre {
  border: 1px solid #ddd;
  box-shadow: 5px 5px 5px #eee;
  padding: 1em;
  overflow-x: auto;
}
code { background: #f9f9f9; }
pre code { background: none; }

/* misc elements */
img, iframe, video { max-width: 100%; }
main { hyphens: auto; }
blockquote {
  background: #f9f9f9;
  border-left: 5px solid #ccc;
  padding: 3px 1em 3px;
}

table {
  margin: auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
table thead th { border-bottom: 1px solid #ddd; }
th, td { padding: 5px; }
thead, tfoot, tr:nth-child(even) { background: #eee; }
